<div class="container">
    <div class="mt-5">
        <h1><%= @list.name %></h1>
        <% if @list.photo.attached? %>
        <%= cl_image_tag (@list.photo.key), class: "rounded-4", height: 300, width: 400 %>
        <% end %>
    </div>
</div>
<div class="container">
    <div>
        <h1 class="mt-5">Bookmarks</h1>
    </div>
    <div>
        <ul class="list-group">
            <% @bookmarks.each do |bookmark| %>
            <li class="d-flex justify-content-between list-group-item">
                <div>
                    <h4><%= bookmark.movie.title %></h3>
                    <p><%= bookmark.comment %></p>
                </div>
                <div>
                    <%= link_to list_bookmark_path(@list, bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash text-black"></i>
                    <% end %>
                </div>
            </li>
            <% end %>
        </ul>
    </div>
    <div>
        <button type="button" class="btn btn-primary mt-3"><%= link_to "Add a bookmark", new_list_bookmark_path(@list) %></button>
    </div>
    <div>
        <button type="button" class="btn btn-primary mt-3"><%= link_to "Back", lists_path %></button>
    </div>
</div>

